header {
    font-family: 'Bungee';
    font-size: large;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #000059;
    border-bottom: 5px solid #FFA901;
    border-top: 5px solid #FFA901;
    z-index: 99;
    padding: 1%;
    height: 6%;
}

.header {
    color: #FFA901;
    text-decoration: none;
    font-size: xx-large;
}