.movieDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(130deg, #000000 0%, #000000cf 30%, #000000 50%, #000000cf 75%, #000000 95%);
}

.movieTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Bungee Shade';
  border: 3px dashed #000059;
  font-size: 6vh;
  background-color: #FFA901;
  color: #000059;
  width: 95%;
  margin-top: 2%;
}
.movieTitle h1 {
  margin: 1%;
}
.movieTitle h2 {
  font-family: 'Bungee';
  font-size: x-large;
  margin: 1%;
}
.movieDetailsText {
  width: 100%;
  margin-right: 10vw;
}

.backButton {
  width: 10vw;
}
.backButtonLink {
  width: 10vw;
  padding-left: 5px;
  display: flex;
}

.movieSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Expletus Sans';
  font-size: larger;
  text-align: center;
  min-height: 450px;
  width: 60%;
  background-color: #FFA901;
  color: #000059;
  border: 3px dashed #000059;
  margin-right: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}


.hr {
  width: 65%;
}
hr {
  border: 1px dashed #000059;
}

.movieSummary p {
  width: 85%;
  margin: 0%;
}

.movieOverview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2%;
}

.movieOverview img {
  border: 3px dashed #FFA901;
  border-radius: 5px;
  width: 30%;
  height: 450px;
  margin-left: 3%;
}

.movieSpecifics {
  font-family: 'Expletus Sans';
  display: flex;
  justify-content: space-around;
  background-color: #FFA901;
  color: #000059;
  border: 3px dashed #000059;
  width: 95%;
  margin: 3%;
}

.movieBoxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}