.loginGreeting {
    background-color: #000000;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFA901;
    border-left: 5px solid #000059;
    border-right: 5px solid #000059;
    text-align: center;
}

.loginGreeting a {
    width: 30%;
    height: 5%;
}

.enterButton {
    width: 100%;
    height: 100%;
    background-color: #000059;
    border: 5px solid #FFA901;
    color: #FFA901;
}