.movieChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px dashed #000059;
  border-radius: 5px;
  margin: 1%;
}

.movieChoiceTitleBox {
  font-family: 'Expletus Sans';
  width: 33%;
  border: 2px solid #000059;
  position: absolute;
  z-index: 2;
  color: #000059;
  background-color: #FFA901;
  opacity: 77%;
  text-decoration: none;
}

.movieChoiceBackdrop {
  width: 100%;
}